/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Padding bottom by footer height */
    padding-bottom: 80px;
    background-color: rgb(233, 233, 233);
    /* background-color: darkgrey;
    text-emphasis-color: white; */
  }

  p {
    text-align: justify;
  }

  .jumbotron {
    background-color: #c0c9c3;
  }
  /* .jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  } */

  #footer {
    position: fixed;
    bottom: 0;
    width: 100%; 
    /* Set the fixed height of the footer here */
    height: 10px;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    background-color:#c0c9c3;
  }
  
  #footer p {
    margin: 0;
    font-size: 30px;
    font-family: cursive;
    font-stretch: expanded;
  }
