/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Padding bottom by footer height */
    padding-bottom: 80px;
    /* background-color: darkgrey;
    text-emphasis-color: white; */
  }

  .jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #footer {
    position: absolute;
    bottom: 0;
    width: 100%; /* Set the fixed height of the footer here */
    height: 10px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    background-color: lightgray;
  }
  
  #footer p {
    margin: 0;
    font-size: 16px;
  }

/* Adding styles to the aside and filter form */
.filters .panel-heading {
font-size: large;
font-weight: bold;
}

.filters .panel-body {
  padding: 0;
}

/* .filters .list-group-item {
 background-color: lightblue;
} */

.filters {
  margin-top: 10px;
}

#filter-btn {
border-color: darkgray;
background-color: lightgray;
text-align: center;
}

select {
  display: block;
  width: 100%;
  padding: 8px;
  color: #8e979f;
  outline: none;
}

#table-area th {
  text-align: center;
}

#table-area th:first-child,
#table-area th:nth-child(2),
#table-area th:nth-child(6) {
  min-width: 70px;
}

.loader {
  margin-top: 50px;
}

.margin-top-50 {
  margin-top: 50px;
}


/* input placeholder color changes */
.form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #8e979f;
}

.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #8e979f;
}

.form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #8e979f;
}

.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #8e979f;
}

#table-area tr td:last-child::after {
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  content: " ";
  background: aliceblue;
}